@charset "UTF-8";
@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Light.eot");
  src: local("☺"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: local("☺"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/10177.eot");
  src: local("☺"), url("../fonts/10177.woff") format("woff"), url("../fonts/10177.ttf") format("truetype"), url("../fonts/10177.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("☺"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("☺"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.mailing__heading-title {
  font-family: Noto Serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  padding-top: 15px;
}

@media (max-width: 500px) {
  .mailing__heading-title {
    font-size: 24px;
    line-height: 33px;
  }
}

.mailing__heading-suptitle {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  text-align: center;
}

@media (max-width: 500px) {
  .mailing__heading-suptitle {
    font-size: 18px;
  }
}

body {
  background: #F9F9F9;
}

@media (max-width: 425px) {
  body.lock {
    overflow: hidden;
  }
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0px auto;
}

.mailing {
  background: url("../img/contact-bg.png");
}

.mailing__heading {
  padding: 100px 0 60px;
}

.mailing__heading-suptitle {
  color: #fff;
}

.mailing__heading-title {
  color: #fff;
}

.mailing__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
  max-width: 760px;
  margin: 0px auto;
}

@media (max-width: 768px) {
  .mailing__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mailing .info {
  color: #fff;
}

@media (max-width: 768px) {
  .mailing .info {
    margin-bottom: 30px;
  }
}

.mailing .info__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing .info__block:not(:last-child) {
  margin-bottom: 15px;
}

.mailing .info__block i {
  font-size: 26px;
}

.mailing .info__block-text {
  margin: 2.5px 0 0 20px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}

.mailing .form {
  border: 1px solid #fff;
  background: transparent;
  max-width: 448px;
  width: 100%;
  padding: 14px;
}

.mailing .form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  max-width: 418px;
  padding: 20px 22px;
}

@media (max-width: 425px) {
  .mailing .form__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.mailing .form__group {
  border: 1px solid #D6D6D6;
}

@media (max-width: 425px) {
  .mailing .form__group {
    width: 100%;
  }
}

@media (min-width: 426px) {
  .mailing .form__group {
    max-width: 200px;
  }
}

.mailing .form__group-input {
  width: 100%;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.5);
  padding: 15px 20px;
  background: #fff;
  margin-right: 15px;
}

.mailing .form__group-btn {
  display: block;
  width: 149px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333333;
  color: #fff;
}

@media (max-width: 425px) {
  .mailing .form__group-btn {
    height: 45px;
    width: 100%;
  }
}

.header {
  position: fixed;
  width: 100%;
  padding: 25px 0;
  z-index: 100;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header.active {
  background: #333333;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__body {
  position: relative;
}

@media (max-width: 425px) {
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__menu {
  float: left;
  max-width: 350px;
  width: 100%;
  padding-top: 17px;
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}

.header__menu-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu-item:not(:last-child) {
  padding-right: 40px;
}

.header__menu-link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__action {
  float: right;
  max-width: 350px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
}

@media (max-width: 1024px) {
  .header__action {
    display: none;
  }
}

.header__action .action__search {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
}

.header__action .action__search i {
  font-size: 18px;
}

.header__action .action__search p {
  padding-left: 16px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.header__action .action__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #fff;
  margin-right: 44px;
}

.header__action .action__login-btn {
  color: #fff;
}

.header__action .action__user {
  margin-right: 30px;
}

.header__action .action__user-link {
  color: #fff;
  font-size: 18px;
}

.header__action .action__like {
  margin-right: 30px;
}

.header__action .action__like-link {
  color: #fff;
  font-size: 18px;
}

.header .burger__icon {
  z-index: 10;
}

.header .burger__icon.active:after {
  top: 23px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .burger__icon.active:before {
  bottom: 23px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .burger__icon.active span {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 426px) {
  .header .burger__icon {
    position: absolute;
  }
}

@media (max-width: 425px) {
  .header .burger__icon {
    position: relative;
  }
}

@media (max-width: 1024px) {
  .header .burger__icon {
    width: 50px;
    height: 50px;
    top: 3px;
    right: 0;
  }
  .header .burger__icon:after, .header .burger__icon:before, .header .burger__icon span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    content: ' ';
    width: 33.33px;
    height: 4px;
    background: #fff;
    left: 8.33px;
    border-radius: 50px;
  }
  .header .burger__icon:after {
    top: 10.42px;
  }
  .header .burger__icon:before {
    bottom: 10.42px;
  }
  .header .burger__icon span {
    top: 22.50px;
    width: 20.83px;
  }
}

.header .burger__menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  background: #333333;
}

@media (max-width: 1024px) {
  .header .burger__menu {
    -webkit-transition: 0.6s;
    transition: 0.6s;
    width: 375px;
  }
}

@media (max-width: 425px) {
  .header .burger__menu {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
  }
}

.header .burger__menu.active {
  right: 0;
}

.header .burger__menu-body {
  padding: 25px 35px;
}

.header .burger__menu-list {
  padding: 60px 0 35px;
}

.header .burger__menu-item:not(:last-child) {
  padding-bottom: 30px;
}

.header .burger__menu-link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 140%;
  color: #fff;
}

.header .burger__menu span {
  color: #fff;
  font-size: 21px;
}

.header .burger__menu-action {
  padding: 35px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.header .burger__menu-user {
  color: #fff;
  font-size: 30px;
  margin: 0 35px 0 10px;
}

.header .burger__menu-like {
  color: #fff;
  font-size: 30px;
}

.header .burger__menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 33px;
}

.header .burger__menu-social a {
  color: #fff;
}

.header .burger__menu-social i {
  font-size: 30px;
}

.footer__row:first-child {
  padding: 80px 0 60px;
  border-bottom: 1px solid #333333;
}

.footer__row:last-child {
  padding: 20px 0;
}

@media (max-width: 1200px) {
  .footer__row:first-child .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
    margin: 0px auto;
  }
}

@media (max-width: 1024px) {
  .footer__row:last-child .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 600px) {
  .footer__row:first-child .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__block {
  width: 100%;
}

@media (max-width: 1200px) {
  .footer__block:first-child {
    padding-bottom: 40px;
  }
}

@media (min-width: 601px) {
  .footer__block {
    max-width: 255px;
  }
  .footer__block:not(:last-child) {
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .footer__block:not(:last-child) {
    padding-bottom: 40px;
  }
}

.footer__block-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333333;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.footer__block .links__menu-item {
  padding-bottom: 15px;
}

.footer__block .links__menu-link {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__block .pay__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__block .pay__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}

.footer__block .pay__icons-img {
  display: block;
}

.footer__block .pay__icons-img:first-child {
  padding-right: 20px;
}

.footer__block .contacts__cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.footer__block .contacts__cell:not(:last-child) {
  padding-bottom: 14px;
}

.footer__block .contacts__cell-img {
  padding-right: 20px;
}

.footer__block .contacts__cell-phone {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__block .socials__text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__block .socials__site {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block .socials__site-link {
  color: #333333;
}

.footer__block .socials__site-link:not(:last-child) {
  margin-right: 22px;
}

.footer__block .socials__site-link i {
  font-size: 20px;
}

.footer__copyright, .footer__link, .footer__made {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #333333;
}

.footer__made {
  font-weight: 600;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .footer__made {
    padding-top: 10px;
  }
}

@media (max-width: 1024px) {
  .footer__link {
    padding-top: 10px;
  }
}

.header {
  background: #333333;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 211px;
}

@media (max-width: 1150px) {
  .filters {
    max-width: 540px;
    margin: 0px auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 165px;
  }
}

@media (max-width: 580px) {
  .filters {
    max-width: 460px;
  }
}

.filters__block {
  max-width: 160px;
  width: 100%;
}

@media (max-width: 1150px) {
  .filters__block:nth-child(-n+3) {
    margin-bottom: 45px;
  }
}

@media (max-width: 400px) {
  .filters__block {
    max-width: 100%;
  }
  .filters__block:not(:last-child) {
    margin-bottom: 45px;
  }
}

.filters__block .filters-btn {
  border-bottom: 1px solid #D6D6D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
}

.filters__block .filters-btn__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.filters__block .filters-btn__triangle {
  border: 6px solid transparent;
  border-top: 8px solid #333;
  margin: auto 0 2px;
}

.filters__block .filters-choose {
  width: 100%;
  background: #333;
  padding: 5px 10px;
  display: none;
  cursor: pointer;
}

.filters__block .filters-choose.active {
  display: block;
}

.filters__block .filters-choose__title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}

.filters__block .filters-choose__title:not(:last-child) {
  margin-bottom: 5px;
}

.product__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0;
}

.product__row:not(:last-child) {
  border-bottom: 1px solid #D6D6D6;
}

@media (max-width: 1024px) {
  .product__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.product__block {
  max-width: 350px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (min-width: 1151px) {
  .product__block {
    padding: 35px;
  }
}

@media (max-width: 1024px) {
  .product__block {
    max-width: 460px;
    width: 100%;
  }
  .product__block:not(:last-child) {
    margin: 0 0 45px 0;
  }
}

@media (min-width: 1025px) {
  .product__block:nth-child(2) {
    margin: 0 30px;
  }
}

.product__block-img {
  height: 220px;
}

@media (max-width: 1024px) {
  .product__block-img {
    height: 320px;
  }
}

.product__block-img-picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.product__block-text {
  padding: 25px 10px 15px;
}

.product__block-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333;
}

.product__block-name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  text-align: center;
  color: #333;
  padding-top: 7px;
}

@media (min-width: 769px) {
  .product__block:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
}

.product__block:hover .product__block-price:after {
  position: absolute;
  content: "Купить";
  left: 0;
}

.product__block-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 125px;
  height: 41px;
  margin: 0px auto;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  background: #333;
}

.product__block-price:after {
  position: absolute;
  content: "Купить";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: -100%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .product__block-price:after {
    left: 0;
  }
}

.product__btn-link {
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 227px;
  height: 51px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #333;
  color: #fff;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 150px 90px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 1150px) {
  .about__content {
    padding: 150px 45px;
  }
}

@media (max-width: 1024px) {
  .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about__content {
    padding: 100px 0;
  }
}

@media (min-width: 1025px) {
  .about__info {
    max-width: 540px;
  }
}

.about__info-limited {
  max-height: 200px;
  overflow: hidden;
  position: relative;
}

.about__info-text {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #333333;
}

.about__info-shadow {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(249, 249, 249, 0)), to(#F9F9F9));
  background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, #F9F9F9 100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}

.about__info-checker {
  opacity: 0;
  position: absolute;
}

.about__info-checker:checked ~ .about__info-btn {
  margin-top: 20px;
}

.about__info-checker ~ .about__info-btn:after {
  content: "Читать полностью";
}

.about__info-checker:checked ~ .about__info-btn:after {
  content: "Скрыть";
}

.about__info-checker:checked ~ .about__info-limited {
  max-height: none;
}

.about__info-checker:checked ~ .about__info-limited .about__info-shadow {
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.about__info-btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 0;
  border-bottom: 1px dashed #333;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #333;
}

.about__quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .about__quality {
    max-width: 700px;
    width: 100%;
    margin: 50px auto 0;
  }
}

@media (min-width: 1025px) {
  .about__quality {
    max-width: 307px;
  }
}

@media (max-width: 650px) {
  .about__quality {
    max-width: 307px;
  }
}

.about__quality .quality__block {
  width: 100%;
  max-width: 130px;
}

.about__quality .quality__block:first-child {
  padding-bottom: 30px;
}

.about__quality .quality__block-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
}

.about__quality .quality__block-img-icon {
  margin: 0px auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__quality .quality__block-text {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #000;
  padding-top: 15px;
}
